@font-face {
  font-family: "Crimson Text";
  font-style: normal;
  font-weight: 400;
  src: url(CrimsonText-400R.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: "Biolinum";
  font-style: normal;
  font-weight: 400;
  src: url(Biolinum_R.woff2) format("woff2");
}
@font-face {
  font-family: "Biolinum";
  font-style: normal;
  font-weight: 700;
  src: url(Biolinum_RB.woff2) format("woff2");
}
@font-face {
  font-family: "Biolinum";
  font-style: italic;
  font-weight: 400;
  src: url(Biolinum_RI.woff2) format("woff2");
}

body { font-family: "Biolinum" }
h1, h2 {
  font-family: "Crimson Text";
  font-weight: normal;
}
.fullwidth { width: 100% }
.pushdown1 { margin-top: 1cm }
.pushdown2 { margin-top: 2cm }
.remark-slide {
  background: linear-gradient(to bottom, #eee 0%, #eee 75px,
    #ed9919 75px, #ed9919 78px, #fff 78px, #fff 100%);
}
.remark-slide-content {
  background: initial;
  height: 100%;
  font-size: 28px;
  padding: 1rem 4rem;
}
.remark-slide-number {
  font-size: 12px;
}
.remark-slide-content h1 {
  font-size: 45px;
  margin-top: 0;
  margin-bottom: 20px;
}
.remark-slide-content h2 {
  font-size: 35px;
}
.remark-slide-content h1 + h2 {
  margin-top: -12px;
}
.remark-slide-content .authors {
  font-size: 24px;
  margin-top: 48px;
}
.remark-slide-content h1 a, .remark-slide-content h2 a,
.remark-slide-content .authors a {
  text-decoration: none;
  color: inherit;
}
.remark-slide-content .authors .affil {
    font-size: smaller;
    font-style: italic;
}
.remark-slide-content p, .remark-slide-content ul {
  margin-top: 0;
}
.remark-slide-content ul ul {
  font-size: 22px;
}
.remark-slide-content .tighten ul {
  font-size: 24px;
}
.remark-slide-content li + li {
  margin-top: 0.5em;
}
.remark-slide-content ul ul li + li {
  margin-top: 0;
}
.remark-slide-content .tighten ul li + li {
  margin-top: 0.25em;
}

.institutions {
  display: block;
  position: relative;
  top: 0.5in;
  overflow: hidden;
}
.logo-left {
  display: block;
  float: left;
  margin-right: 1em;
  height: 0.75in;
  width: auto;
}
.logo-right {
  display: block;
  float: right;
  margin-left: 1em;
  height: 0.75in;
  width: auto;
}
.logo-left img, .logo-right img {
    width: auto; height: auto;
    max-width: 100%;
    max-height: 100%;
}

.caption {
    float: right;
    font-size: 50%;
}
.twocolumns {
  display: flex;
  justify-content: space-between;
}
.column {
  width: 45%;
}
.column h2 {
  border-bottom: 1px solid #ed9919;
}
.ctext {
    text-align: center;
}
.tinytext {
    font-size: 8pt;
}
.twocoltable {
    table-layout: fixed;
    width: 100%;
}
.twocoltable td {
    width: 50%;
    padding: 24pt 2.5% 0 0;
    vertical-align: top;
}
.twocoltable td + td {
    width: 50%;
    padding: 24pt 0 0 2.5%;
}
